.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: transparent;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(139, 22, 22, 0.4);
    border: 2px solid rgba(244, 246, 244, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    color: white;
    box-shadow: 0 0 10px white;
    margin: 10px 10px 0;
    font-size: 20px;
    height: 70px;
    z-index: 10;
}

.logo{
    font-family: 'Mountains of Christmas', cursive;
    font-size: x-large;
}

.dashboard-content {
    display: flex;
    flex: 1;
    margin: 10px;
    gap: 10px;
    z-index: 1;
}

.dashboard-header-user-data {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard-header-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.groups {
    position: relative;
}

.extended-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 150px;
    z-index: 1000;
}

.extended-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.extended-menu li {
    padding: 8px 16px;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

.extended-menu li:hover {
    background-color: green;
}